ul{
	list-style: none;
	padding: 0;
}
a{
	text-decoration: none
}
a:hover{
	text-decoration: none
}

.wrapper{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
}

header{
	position: absolute;
	top: 31px;
	height: 100px;
	width: 78.5%;
	margin: 0 10.75%;
}
header h1{
	display: none;
}
header nav{
	float: right;
	text-transform: uppercase;
}
header nav ul li{
	float: left;
	margin: 0 5px;
}
header nav ul li:last-child{
	margin-top: 0;
}
header nav ul li a{
	display: block;
	font-size: .7em;
	color: #FFFAFA;
	padding: 7px;
}
header nav ul li a:hover{
	color: #FFFAFA;
	border-bottom: 3px solid #4D9DE0;
}
header nav ul li .signUp.btn{
	border-radius: 25px;
	border: 1px solid rgba(255,250,250,.35);
	font-size: .7em;
	padding: 4px 17px;
}
header nav ul li .signUp.btn:hover{
	color: #FFFAFA;
	background: #4D9DE0;
	border-color: #4D9DE0;
}

.cta{
	color: #FFFAFA;
	background: rgb(47,63,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(47,63,88,1) 0%, rgba(32,43,61,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,63,88,1)), color-stop(100%,rgba(32,43,61,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(47,63,88,1) 0%,rgba(32,43,61,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(47,63,88,1) 0%,rgba(32,43,61,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(47,63,88,1) 0%,rgba(32,43,61,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(47,63,88,1) 0%,rgba(32,43,61,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3f58', endColorstr='#202b3d',GradientType=0 ); /* IE6-9 */
	padding: 120px 0 43px;
}
.cta h2{
	margin-top: 0;
	font-size: 2.6em;
	font-weight: 200;
}
.cta p{
	margin: 25px 0 47px;
	font-weight: 100;
	letter-spacing: 2px;
	font-size: .9em;
	line-height: 25px
}
.cta p:last-child{
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
}
.cta img{
	float: right;
	width: 89.7%;
}

.clients p{
	color: #324258;
	text-transform: uppercase;
	margin: 35px 0 0;
	font-size: .72em;
	font-weight: 600;
}
.clients ul{
	margin: 19px 0 30px;
}
.clients ul li{
	display: inline;
	margin: 0 27px;
}
.clients ul li img{
	width: 115px;
}